{%extends 'bootstrap/base.html' %}
{%import 'bootstrap/wtf.html' as wtf%}
{% block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<!--if you'd like to make it centered then you have to set the width.-->
    <div class="row">
        <div style="height:1000px;background-image:url('../static/images/mountain.jpg');background-repeat:no-repeat;background-position:center;background-size:cover;">
            <br>
            <br>
            <div class='col-lg-5 col-md-8 col-sm-10' style="float:none;margin:0 auto;padding:80px;backdrop-filter:blur(50px);text-align:center">
                 {{ckeditor.load()}}
                 {{wtf.quick_form(form,novalidate=True,button_map={"submit": "primary"})}}
            </div>
        </div>


    </div>

</body>
</html>
{% endblock %}